<html lang="">
<head>
<title>Hoppler</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="index.html">Hoppler</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="pageintro" class="hoc clear">
    <article> 
      <h3 class="heading">Potenti integer dignissim</h3>
      <p>Nunc gravida sem dui tempus nunc at tristique magna turpis in magna nunc vitae vestibulum ligula mauris malesuada</p>
      <p class="font-x1 uppercase bold">Felis vitae ultricies blandit</p>
      <footer><a class="btn" href="#">Fermentum elementum</a></footer>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-2x fa-registered"></i></a>
          <h6 class="heading font-x1">Suscipit urna quis</h6>
          <p>Ipsum feugiat diam fermentum ornare proin blandit rhoncus eros nec vulputate aliquam tempus non dolor vitae finibus [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-renren"></i></a>
          <h6 class="heading font-x1">Cursus sollicitudin</h6>
          <p>Suscipit lacus eu posuere vehicula cras lacinia nunc libero feugiat tristique massa mattis quis donec eu porttitor consequat [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-resistance"></i></a>
          <h6 class="heading font-x1">Phasellus blandit</h6>
          <p>Felis proin hendrerit sapien ipsum quis accumsan ipsum vestibulum faucibus nunc rhoncus lectus non nunc dapibus congue [&hellip;]</p>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-2x fa-flash"></i></a>
          <h6 class="heading font-x1">Dignissim tristique</h6>
          <p>Vivamus sollicitudin metus cursus pulvinar posuere nam fringilla pretium fringilla vestibulum commodo sagittis elit dui rutrum velit [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-assistive-listening-systems"></i></a>
          <h6 class="heading font-x1">Ante luctus malesuada</h6>
          <p>At porta massa fringilla vitae elit donec tellus lorem rhoncus in orci et efficitur hendrerit erat nam porttitor duis eget dignissim [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-2x fa-globe"></i></a>
          <h6 class="heading font-x1">Erat mauris donec</h6>
          <p>Lacus ut lorem rhoncus dictum sed nisl eros consequat vel velit et venenatis accumsan nibh sed sit amet turpis convallis [&hellip;]</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <div class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Laoreet dolor etiam</h6>
    </div>
    <div class="group">
      <div class="two_third first">
        <p><strong>Orci dignissim placerat quisque</strong></p>
        <p>Odio in accumsan in finibus lacus vitae condimentum dignissim urna est auctor ante eget viverra ex ex non enim fusce vitae leo eleifend rutrum nisl sit amet congue ligula ut vulputate hendrerit nisl ut condimentum duis.</p>
        <p class="btmspace-30">Luctus quam ut est aliquam et ultricies nisl vulputate donec in luctus arcu maecenas nec metus ac magna posuere [&hellip;]</p>
        <footer><a class="btn" href="#">Read More &raquo;</a></footer>
      </div>
      <div class="one_third">
        <p><strong>Malesuada congue pulvinar</strong></p>
        <figure class="videocontainer"> 
          <!-- Important: Any type of video called via "iframe" must be in a container using class="videocontainer" -->
          <iframe src="https://www.youtube-nocookie.com/embed/8Z9089048wk?modestbranding=1&amp;showinfo=0&amp;vq=hd1080&amp;rel=0&amp;wmode=transparent" allowfullscreen style="border:none;"></iframe>
          <figcaption>Lacus vitae ullamcorper cum sociis natoque penatibus et magnis dis.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Ullamcorper bibendum</h6>
    </div>
    <div class="group">
      <div class="one_third first"><a class="imgover" href="#"><img src="images/demo/320x480.png" alt=""></a></div>
      <div class="two_third">
        <figure class="group">
          <div class="one_half first btmspace-30"><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></div>
          <div class="one_half btmspace-30"><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></div>
          <div class="one_half first"><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></div>
          <div class="one_half"><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></div>
        </figure>
      </div>
    </div>
  </section>
</div>
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Lectus nulla facilisi</h6>
    </div>
    <div class="group">
      <figure class="one_third first">
        <ul class="nospace pricelist">
          <li>&pound;<strong>80</strong> <em>pcm</em></li>
          <li>Vulputate</li>
          <li>Sed at odio ligula</li>
          <li>Nisi lacus aliquam</li>
          <li>Turpis feugiat ornare</li>
          <li>Gravida ultricies</li>
          <li class="last">Ipsum magna vivamus</li>
          <li>
            <p>(Save 50%)</p>
            <p><a class="btn" href="#">Condimentum</a></p>
          </li>
        </ul>
      </figure>
      <figure class="one_third">
        <ul class="nospace pricelist bargain">
          <li>&pound;<strong>100</strong> <em>pcm</em></li>
          <li>Suspendisse</li>
          <li>Quis varius justo</li>
          <li>Enim ac risus maecenas</li>
          <li>A maximus ipsum</li>
          <li>Nec eleifend velit</li>
          <li class="last">Nullam in dolor</li>
          <li>
            <p>(Save 50%)</p>
            <p><a class="btn" href="#">Condimentum</a></p>
          </li>
        </ul>
      </figure>
      <figure class="one_third">
        <ul class="nospace pricelist">
          <li>&pound;<strong>125</strong> <em>pcm</em></li>
          <li>Tincidunt</li>
          <li>Sit amet lacus</li>
          <li>Lacinia vestibulum</li>
          <li>At vestibulum orci</li>
          <li>Sed elementum a</li>
          <li class="last">Augue non consequat</li>
          <li>
            <p>(Save 50%)</p>
            <p><a class="btn" href="#">Condimentum</a></p>
          </li>
        </ul>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul id="stats" class="nospace group">
      <li class="one_quarter first"><a href="#"><i class="fa fa-3x fa-slack"></i></a>
        <p>Vestibulum</p>
        <p>12345</p>
      </li>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-sliders"></i></a>
        <p>Pulvinar</p>
        <p>12345</p>
      </li>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-slideshare"></i></a>
        <p>Volutpat</p>
        <p>12345</p>
      </li>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-snowflake-o"></i></a>
        <p>Accumsan</p>
        <p>12345</p>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Consectetur placerat</h6>
    </div>
    <div class="group team">
      <figure class="one_quarter first"><a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
        <figcaption>
          <h6 class="heading">A. Doe</h6>
          <em>Eu urna pretium</em>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
      <figure class="one_quarter"><a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
        <figcaption>
          <h6 class="heading">B. Doe</h6>
          <em>Ullamcorper aliquam</em>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
      <figure class="one_quarter"><a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
        <figcaption>
          <h6 class="heading">C. Doe</h6>
          <em>Id dolor in est</em>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
      <figure class="one_quarter"><a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
        <figcaption>
          <h6 class="heading">D. Doe</h6>
          <em>Dignissim tempus</em>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
          </footer>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
  <div class="hoc container testimonials clear"> 
    <!-- ################################################################################################ -->
    <article><img src="images/demo/100x100.png" alt="">
      <blockquote>Ridiculus mus nunc ut nisi sit amet tellus aliquam aliquet suspendisse sit amet lacus a felis sagittis fringilla at et nibh donec placerat luctus nisi nec malesuada.</blockquote>
      <h6 class="heading font-x1">E. Doe</h6>
      <em>Parturient montes nascetur</em></article>
  </div>
</div>
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Integer cursus mauris</h6>
    </div>
    <ul class="nospace group latest">
      <li class="one_third first">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></figure>
          <div class="txtwrap">
            <h4 class="heading"><a href="#">Quis erat ultrices</a></h4>
            <ul class="nospace meta">
              <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <p>Imperdiet habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam ac tortor velit aenean [&hellip;]</p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></figure>
          <div class="txtwrap">
            <h4 class="heading"><a href="#">Condimentum ex ut nulla</a></h4>
            <ul class="nospace meta">
              <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <p>Et dapibus dui in est aliquet ac laoreet vel sollicitudin vel nisl etiam sodales felis quis purus consequat tempor aenean [&hellip;]</p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></figure>
          <div class="txtwrap">
            <h4 class="heading"><a href="#">Semper tortor bibendum</a></h4>
            <ul class="nospace meta">
              <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <p>Posuere odio id vulputate lectus etiam ut tincidunt erat a placerat tortor nam quis lorem auctor interdum velit quis [&hellip;]</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <div class="one_quarter first">
      <h6 class="heading">Turpis nam sapien</h6>
      <p>Bibendum ullamcorper cras imperdiet justo vitae odio dignissim porta maecenas vel ante pharetra.</p>
      <p>Lorem facilisis rutrum in sed sem proin interdum lectus non laoreet tellus leo imperdiet.</p>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Pharetra a luctus</h6>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">A maximus lectus</h6>
      <article>
        <h2 class="nospace font-x1"><a href="#">Suspendisse potenti proin</a></h2>
        <time class="font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        <p>Tortor a erat aliquam a consequat augue a elementum ante donec luctus posuere mauris non tempus felis [&hellip;]</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Non sapien nunct</h6>
      <ul class="nospace linklist">
        <li><a href="#">Lectus pharetra quis arcu</a></li>
        <li><a href="#">Sed facilisis tempor velit ut</a></li>
        <li><a href="#">Et maximus lorem maximus</a></li>
        <li><a href="#">Habitant morbi tristique</a></li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
