{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Irrigation amount{% endblock %}
{% block content %}
<h1><center>Irrigation amount at your door</center></h1>
<form class="large" method="post" action="home/crops/">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
    <div class="col-sm-10">{{ field }}</div>
  </div>
  {% endfor %}
  <center> <div class="form-actions">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div></center>
</form>
<center>
<a href="/home/details">
      <button type="submit" class="btn btn-primary" >View Details</button>
</a>
</center>
{% endblock %}
