asn1crypto==0.23.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.3
Django==1.11.7
django-bootstrap-form==3.3
django-controlcenter==0.2.3
django-location-field==2.0.3
django-pkgconf==0.3.0
gunicorn==19.7.1
idna==2.6
paho-mqtt==1.3.1
pycparser==2.18
pyOpenSSL==17.3.0
pysolr==3.6.0
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
watson-developer-cloud==0.26.1
whitenoise==3.3.1
